@import '../../style/mixin.scss';
@import '../../style/variables.scss';

.user_settings{
    @include flex($justifyContent: flex-start, $flexDirection: row);
    width: 100%;
    height: 82vh;
    background-color: $user_main_bg_color;
    color: $user_main_color;

    &_item{
        @include flex($justifyContent: flex-start, $flexDirection: column);
    }

    &_list_inputs{
        @include flex($flexDirection: column);
        margin: 10px;

        &_item{
            margin: 10px;
            @include flex($flexDirection: column);
        }
    }

    &_nav{
        width: 20%;
        @include flex($flexDirection: column, $alignItems: flex-start, $justifyContent: flex-start);
        font-size: 1.1em;
        &_tabs{
            margin-left: 20px;
            &_item{
                margin: 10px;
                cursor: pointer;
                &:hover{
                    color: orangered;
                }
                &.active{
                    color: orangered;
                }
            }
        }

        &_info{
            margin-left: 10px;
            margin-bottom: 20px;
            @include flex;
            &_photo{
                width: 32px;
                height: 32px;
                margin-right: 10px;
                img{
                    width: inherit;
                    height: inherit;
                }
            }
            &_about_text{
                font-size: 1em;
            }

            &_about_name{
                font-size: 1.2em;
            }
        }
    }

    &_tabs_block{
        width: 80%;
        height: 82vh;
    }
}


.sign_out_account{
    background-color: transparent;
    color: red;
    border: 1px solid red;
    padding: 7px 14px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    
    &:hover{
        color: white;
        background-color: red;
    }
}

.block_setting{
    width: 100%;
    height: 82vh;
    @include flex($flexDirection: column, $alignItems: center, $justifyContent: flex-start);
}

.user_settings_list_inputs_item_username{
    align-items: flex-start;
    input{
        width: 400px;
        height: 30px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid white;
        outline: none;
        color: orangered;

        &:hover{
            border-radius: 4px;
            border: 1px solid orangered;
        }

        &:focus{
            border-radius: 4px;
            border: 1px solid orangered;
        }
    }
}

.change_setting{
    cursor: pointer;
    background-color: orangered;
    color: white;
    @include flex;
    border: none;
    padding: 15px 15px;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 0.2s;
    &:hover{
        transform: scale(1.1);
    }
}