@import '../../style/mixin.scss';
@import '../../style/variables.scss';

.user_settings{
    @include flex($justifyContent: flex-start, $flexDirection: row);
    width: 100%;
    height: 82vh;
    background-color: $user_main_bg_color;
    color: $user_main_color;

    &_item{
        @include flex($justifyContent: flex-start, $flexDirection: column);
    }

    &_list_inputs{
        @include flex($flexDirection: row);
        margin: 10px;

        &_item{
            margin: 10px;
            @include flex($flexDirection: column);
        }
    }

    &_nav{
        width: 20%;
        @include flex($flexDirection: column, $alignItems: flex-start, $justifyContent: flex-start);
        font-size: 1.1em;
        &_tabs{
            margin-left: 20px;
            &_item{
                margin: 10px;
                cursor: pointer;
                &:hover{
                    color: orangered;
                }
                &.active{
                    color: orangered;
                }
            }
        }

        &_info{
            margin-left: 10px;
            margin-bottom: 20px;
            @include flex;
            &_photo{
                width: 32px;
                height: 32px;
                margin-right: 10px;
                img{
                    width: inherit;
                    height: inherit;
                }
            }
            &_about_text{
                font-size: 1em;
            }

            &_about_name{
                font-size: 1.2em;
            }
        }
    }

    &_tabs_block{
        width: 80%;
        height: 82vh;
    }
}


.sign_out_account{
    @include flex;
    background-color: transparent;
    // position: absolute;
    // bottom: 100px;
    // left: 56%;
    // transform: translate(-50%, -50%);
    color: red;
    border: 1px solid red;
    padding: 7px 14px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    
    &:hover{
        color: white;
        background-color: red;
    }
}

.block_setting{
    width: 100%;
    height: 82vh;
    @include flex($flexDirection: column, $alignItems: center, $justifyContent: flex-start);
}

.user_settings_list_inputs_item_username{
    align-items: flex-start;
    input{
        width: 400px;
        height: 30px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid white;
        outline: none;
        color: orangered;

        &:hover{
            border-radius: 4px;
            border: 1px solid orangered;
        }

        &:focus{
            border-radius: 4px;
            border: 1px solid orangered;
        }
    }
}

.change_setting{
    cursor: pointer;
    background-color: orangered;
    color: white;
    @include flex;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    margin-left: 15px;
    transform: scale(1);
    transition: transform 0.2s;
    &:hover{
        transform: scale(1.1);
    }
}

.edit_avatar_btn{
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border: 1px solid gray;
    background-color: rgb(14, 15, 15);
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
}

.other_settings{
    &_form{
        &_item{
            @include flex($justifyContent: space-between);
        }
    }
}

.user_settings_account_danger_zone{
    margin-left: 10px;
    &_wrapper{
        @include flex($flexDirection: column);
        width: 650px;
        border: 1px solid red;
        border-radius: 7px;
        padding: 10px;
        &_item{
            @include flex($justifyContent: space-between);
            border-bottom: 1px solid gray;
            margin-bottom: 10px;
            &_text{
                &_header{
                    font-weight: 600;
                }
                &_description{
                    color: gray;
                }
            }
        }
    }
}

.danger_btn{
    background-color: rgb(14, 15, 15);
    border: none;
    border-radius: 7px;
    color: red;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
        background-color: red;
        color: white;
    }
}

.account_settings_block{
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 0;
    }
}

.danger_red_text{
    color: red!important;
}

.btns_account_manipulation{
    @include flex($justifyContent: space-between);
}