@import '../../style/mixin.scss';
@import '../../style/variables.scss';

.user_upload{
    @include flex($flexDirection: column);
    width: 100%;
    height: 82vh;
    background-color: $user_main_bg_color;
    color: $user_main_color;


    &_header{
        h2{
            margin: 0;
            text-align: center;
        }
    }

    &_translate{
        &_list{
            &::-webkit-scrollbar{
                width: 0;
            }
            @include flex($flexDirection: row, $flexWrap: wrap);
            height: 300px;
            overflow-x: auto;
            &_item{
                @include flex($flexWrap: wrap);
                &_item{
                    @include flex($flexDirection: column);
                    text-align: center;
                    margin: 10px;
                }
            }
        }
    }

    &_plus{
        margin: 20px 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: orangered;
        color: white;
        cursor: pointer;
        font-size: 1.3em;
        @include flex;
    }
}