@import '../../../style/mixin.scss';

.login_wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    color: white;
    @include flex($flexDirection: column, $justifyContent: flex-start, $alignItems: center);
}

.login_header{
    margin-top: 20px;
    margin-bottom: 30px;
    @include flex($flexDirection: column, $justifyContent: flex-start, $alignItems: center);
    .login_header_logo{
        @include flex($justifyContent: flex-start, $alignItems: center);
        margin-bottom: 10px;
        img{
            width: 64px;
            height: 64px;
            user-select: none;
            cursor: pointer;
        }

        h1{
            cursor: pointer;
            user-select: none;
        }
    }

    &_hr{
        width: 100vw;
        height: 1px;
        background-color: gray;
    }
}

.login_container{
    @include flex($flexDirection: column, $justifyContent: flex-start, $alignItems: center);

    .login_container_item{

        &_header{
            position: relative;
            font-size: 1.5em;

            &::before{
                content:" ";
                display: inline-block;
                height: 1px;
                width: 300px;
                margin-bottom: 5px;
                margin-right: 20px;
                background: orangered;
            }

            &::after{
                content:" ";
                display: inline-block;
                height: 1px;
                width: 300px;
                margin-bottom: 5px;
                margin-left: 20px;
                background: orangered;
            }
        }

        &_form{
            margin-top: 130px;
        }

        &_input{
            @include flex($flexDirection: column, $justifyContent: flex-start, $alignItems: flex-start);
            margin-bottom: 20px;
            input{
                width: 400px;
                height: 30px;
                background-color: transparent;
                border-radius: 4px;
                border: 1px solid white;
                outline: none;
                color: orangered;

                &:hover{
                    border-radius: 4px;
                    border: 1px solid orangered;
                }

                &:focus{
                    border-radius: 4px;
                    border: 3px solid orangered;
                }
            }
        }

        &_btns{
            @include flex($justifyContent: space-between, $alignItems: center);
            &_forgot button{
                background-color: transparent;
                border: none;
                color: orangered;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }

            &_login button{
                cursor: pointer;
                background-color: orangered;
                color: white;
                @include flex;
                border: none;
                padding: 15px 15px;
                border-radius: 20px;
                transform: scale(1);
                transition: transform 0.2s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }

    }
}


.forgot_login_container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    overflow: hidden;

    &_form{
        @include flex($flexDirection: column);
        margin-top: 130px;

        &_btns{
            width: 400px;
            margin-top: 20px;
            @include flex($justifyContent: space-between, $alignItems: center);
        }

        input{
            width: 400px;
            height: 30px;
            background-color: transparent;
            border-radius: 4px;
            border: 1px solid white;
            outline: none;
            color: orangered;

            &:hover{
                border-radius: 4px;
                border: 1px solid orangered;
            }

            &:focus{
                border-radius: 4px;
                border: 1px solid orangered;
            }
        }
    }
}

.forgot_back{
    background-color: transparent;
    border: none;
    color: orangered;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.forgot_reset{
    cursor: pointer;
    background-color: orangered;
    color: white;
    @include flex;
    border: none;
    padding: 15px 15px;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 0.2s;
    &:hover{
        transform: scale(1.1);
    }
}

.login_navbar{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    a{
        color: white;
        font-size: 1.2em;
        text-decoration: none;
        margin: 10px;
        &:hover{
            color: orangered;
        }
    }

    span{
        font-size: 1.2em;
    }
}

.login_alert{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}