@import '../../style/variables.scss';
@import '../../style/mixin.scss';
.favorite_section{
    @include flex($flexDirection: column, $justifyContent: flex-start, $alignItems: center);
    width: 100%;
    height: 82vh;
    background-color: $user_main_bg_color;
    color: $user_main_color;
    &_nav_block{
        @include flex;
        &_item{
            margin: 10px;
            cursor: pointer;
            &.active{
                color: orangered;
            }
        }
    }

    &_tabs_block{
        width: 100%;
        &_authors{
            &_list{
                @include flex($justifyContent: flex-start, $alignItems: flex-start, $flexWrap: wrap);
            }
        }
    }

    &_author_block{
        position: relative;
        margin: 10px;
        &_image{
            @include flex($flexDirection: column);
            width: 200px;
            height: 200px;
            img{
                width: inherit;
                height: inherit;
                cursor: pointer;
                border-radius: 50%;
            }
        }
        &_favorite{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            i{
                transform: scale(1);
                cursor: pointer;
                font-size: 2em;
                &:hover{
                    color: orangered;
                    transform: scale(1.5);
                }
            }
        }
    }
}

.not_found_elements{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

.albums_section{
    @include flex($flexDirection: row);
    width: 100%;
    height: 82vh;
    background-color: $user_main_bg_color;
    color: $user_main_color;

    &_item{
        &_albums_block{
            width: 75%;
            height: inherit;
            background-color: black;
            overflow-y: auto;
            @include flex($justifyContent: flex-start, $alignItems: flex-start, $flexWrap: wrap);
            &_item{
                margin: 10px;
                text-align: center;

                img{
                    cursor: pointer;
                }

                &_bg{
                    position: relative;
                    &.active{
                        border: 2px solid orangered;
                    }
                    &_controls{
                        width: inherit;
                        font-size: 2em;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        @include flex;
                        i{
                            cursor: pointer;
                            color: orangered;
                            transform: scale(1);
                            &:hover{
                                transform: scale(1.3);
                            }
                        }
                        .play_album_control{
                            color: orangered;
                        }
                        .favorite_album_control{
                            color: white;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        &_music_block{
            width: 30%;
            height: inherit;
            background-color: black;
            overflow-y: auto;
            border-left: 2px solid orangered;
            .music_list_albums{
                // text-align: center;
                &_wrapper{
                    @include flex($flexDirection: column, $flexWrap: wrap, $alignItems: flex-start);
                    overflow-y: auto;
                }
            }
        }
    }
};

.music_list_albums_wrapper{
    @include flex($flexDirection: column, $justifyContent: flex-start, $alignItems: flex-start);
    overflow: auto;
}

.music_list_albums{
    overflow: auto;
}