// user header
$user_header_base_color: '';
// $user_header_dark_color: #181818;
$user_header_dark_color: black;
$user_header_logo_color: white;
$user_header_link_color: gray;

//user main
$user_main_bg_color: black;
// $user_main_bg_color: #181818;
$user_main_color: white;

// user main audio
$user_main_audio_bg_color: black;