@import '../../style/variables.scss';
@import '../../style/mixin.scss';

.user_header{
    width: 100vw;
    height: 8vh;
    background-color: $user_header_dark_color;
    @include flex($justifyContent: space-around);

    &_item{

        &_logo{
            color: $user_header_logo_color;
            font-size: 1.2em;
            font-weight: 700;
            cursor: pointer;
        }

        &_list{
            width: 500px;
            @include flex($justifyContent: space-around);
            &_link button{
                color: $user_header_link_color;
                background-color: transparent;
                border: none;
                cursor: pointer;
                text-decoration: none;
            }

            &_link button.active{
                color: orangered;
            }
        }

        &_user{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 2px solid orangered;
            cursor: pointer;
            img{
                width: inherit;
                height: inherit;
            }
        }
    }
}

.user_avatar_header{
    border-radius: 50%;
}

@media(max-width: 1059px){
    .user_header{
        @include flex($justifyContent: center, $flexWrap: wrap!important);
        &_item{
            &_logo{
                font-size: 1em!important;
                margin-left: 10px!important;
            }
        }

        &_item{
            &_list{
                margin-left: 10px;
                width: 300px!important;
                @include flex($justifyContent: space-around!important);
            }
        }
    }
    
}


@media(max-width: 920px){
    .user_header{
        @include flex($justifyContent: center!important);
        &_item{
            &_logo{
                font-size: 0.8em!important;
                margin-top: 10px!important;
            }

            &_list{
                margin-left: 10px;
                width: 300px!important;
                @include flex($justifyContent: center!important);
            }

            &_user{
                width: 28px!important;
                height: 28px!important;
                margin-left: 10px!important;
                img{
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
}