@import '../../style/variables.scss';
@import '../../style/mixin.scss';

.search_panel{
    position: relative;
    input{
        border-radius: 2px solid white;
        border-color: white;
        color: white;
        background: transparent;
        outline: none;
        width: 200px;
    }

    &_modal{
        @include flex($flexDirection: column);
        margin-top: 20px;
        position: absolute;
        width: 450px;
        height: 500px;
        background-color: rebeccapurple;
        color: white;
        margin-right: 100px;
        overflow: auto;

        &_audio_list{
            @include flex($flexDirection: column, $justifyContent: flex-start, $alignItems: flex-start);
        }
        h4{
            margin: 0;
        }
    }
}



.album_item{
    margin-left: 10px;
    @include flex($flexDirection: row, $justifyContent: flex-start, $alignItems: center);

    &_text{
        @include flex($flexDirection: column, $justifyContent: flex-start, $alignItems: flex-start);
        &_title{
            cursor: pointer;
            color: gray;
            &:hover{
                color: orangered;
            }
        }

        &_author{
            cursor: pointer;
            color: gray;
            &:hover{
                color: orangered;
            }
        }
    }

    &_image{
        cursor: pointer;
        width: 32px;
        height: 32px;
        img{
            width: inherit;
            height: inherit;
        }
    }
}